# fly.toml app configuration file generated for breaking-books on 2025-12-11T12:43:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'breaking-books'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 8501
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
